@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body {
    background-color: #F8F8F8;
    font-family: 'Poppines', sans-serif;
}

/* Navigation */
/* Relocate navigation btn */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 30px 0px;
}

/* Text in navigation */
nav a {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: transform 0.1s ease 0s;
}

/* Applied transition */
nav a:hover {
    transform: translateY(-5px);
    text-decoration: underline;
}

/* Logo */
nav a img {
    width: 30px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 3px;
}

/*  */
/*  */
.home-title {
    display: flex;
    justify-content: center;
}

/* Banner-section */
.home-banner-wrapper {
    position: relative;
    margin: 2% auto;
    max-width: auto;
}

.home-banner-images {
    display: flex;
    flex-direction: row;
    aspect-ratio: 16/5;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    /* Hide scroll-bar, worked on FireFox */
    scrollbar-width: none;
}

.home-banner-images img {
    display: flex;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

/* Hide scroll-bar, worked with Chrome and Edge */
.home-banner-images::-webkit-scrollbar {
    display: none;
}

/* Markers Position */
.home-banner-markers {
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5%;
}

/* Styling */
.home-banner-markers a {
    height: 0.7em;
    width: 0.7em;
    background-color: white;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    z-index: 1;
}

.home-banner-markers a:hover {
    width: 2em;
    background-color: gray;
}

/* Explore btn */
.explore-btn {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.home-btn-explore {
    padding: 16px;
    border: 3px solid black;
    border-radius: 5px;
    transition: transform 0.1s ease 0s;
}

.home-btn-explore a {
    color: black;
    text-decoration: none;
    font-weight: 900;
}

.home-btn-explore:hover {
    transform: translateY(-5px);
}

/*  */
/* Overlay */
.poster-header {
    display: flex;
    justify-content: center;
    padding: 32px;
}

/*  */
.laptops-poster {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.poster-one {
    width: 500px;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
    transition: all 0.3s ease;
    position: relative;
}

.overlay-poster-one {
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
}

.overlay-logo-one {
    position: absolute;
    left: 70%;
    opacity: 0;
    transition: all 0.3s ease;
}

.overlay-text-btn-one {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    color: white;
    top: 20%;
    left: 50%;
    opacity: 0;
    transition: all 0.1s ease-out;
}

.poster-one:hover .overlay-logo-one {
    opacity: 1;
}

.overlay-text-btn-one a {
    text-decoration: none;
}

.overlay-text-btn-one button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
}

.overlay-text-btn-one button:hover {
    background-color: white;
    font-weight: 900;
    color: black;
}

.poster-one:hover .overlay-text-btn-one {
    opacity: 1;
}

.poster-one:hover .overlay-poster-one {
    opacity: 1;
}

.poster-one:hover {
    width: 800px;
}

#explore-btn-1 {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 24px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.3s ease;
}

.poster-one:hover #explore-btn-1 {
    opacity: 0;
}

.poster-two {
    width: 500px;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
    transition: all 0.3s ease;
    position: relative;
}

.overlay-logo-two {
    position: absolute;
    left: 84%;
    top: 8%;
    opacity: 0;
    transition: all 0.3s ease;
}

.poster-two:hover .overlay-logo-two {
    opacity: 1;
}

.overlay-text-btn-two {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    color: white;
    top: 20%;
    left: 50%;
    opacity: 0;
    transition: all 0.1s ease-in;
}

.poster-two:hover .overlay-text-btn-two {
    opacity: 1;
}

.overlay-text-btn-two a {
    text-decoration: none;
}

.overlay-text-btn-two button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
}

.overlay-text-btn-two button:hover {
    background-color: white;
    font-weight: 900;
    color: black;
}

.overlay-poster-two {
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
}

.poster-two:hover .overlay-poster-two {
    opacity: 1;
}

.poster-two:hover {
    width: 800px;
}

#explore-btn-2 {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 24px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.3s ease;
}

.poster-two:hover #explore-btn-2 {
    opacity: 0;
}

/*  */
/* Latest Product */
.latest-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    gap: 36px;
}

.product-container-one {
    display: flex;
    gap: 24px;
    width: 900px;
}

.product-ctn-l-one img {
    border-radius: 5px;
}

.product-ctn-r-one {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-ctn-r-one-btn {
    display: flex;
    gap: 24px;
    align-items: center;
}

.product-ctn-r-one-btn button {
    display: flex;
    padding: 8px 24px;
    gap: 12px;
    align-items: center;
    border-radius: 5px;
}

.product-container-two {
    display: flex;
    gap: 24px;
    width: 900px;
}

.product-ctn-l-two img {
    border-radius: 5px;
}

.product-ctn-r-two {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-ctn-r-two-btn {
    display: flex;
    gap: 24px;
    align-items: center;
}

.product-ctn-r-two-btn button {
    display: flex;
    padding: 8px 24px;
    gap: 12px;
    align-items: center;
    border-radius: 5px;
}

.product-ctn-r-two-btn a {
    text-decoration: none;
}

#product-btn-one {
    background-color: black;
    color: white;
}

#product-btn-two {
    background-color: white;
    border: 2px solid black;
}

/*  */
/* Menu section */
.menu-header {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.home-menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-top: 36px;

}

.home-menu-container img {
    width: 40px;
    padding: 12px;
}

/* Laptops */
.home-menu-laptops {
    padding: 28px;
    width: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    transition: width 0.3s ease 0s;
}

.home-menu-laptops:hover {
    width: 10em;
}

.laptops-list ul,
li,
a {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    color: black;

}

.laptops-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#explore-laptops {
    transition: transform 0.3s ease 0s;
}

#explore-laptops:hover {
    transform: translateY(-5px);
}

/* Gears */
.home-menu-gears {
    padding: 28px;
    width: 5em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    height: 50%;
    transition: width 0.3s ease 0s;
}

.home-menu-gears:hover {
    width: 10em;
}

.gears-list ul,
li,
a {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    color: black;

}

.gears-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Parts */
.home-menu-parts {
    padding: 28px;
    width: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    transition: width 0.3s ease 0s;
}

.home-menu-parts:hover {
    width: 10em;
}

.parts-list ul,
li,
a {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    color: black;

}

.parts-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#parts-explore {
    transition: transform 0.3s ease 0s;
}

#parts-explore:hover {
    transform: translateY(-5px);
}

/* Headsets */

.home-menu-headsets {
    padding: 28px;
    display: flex;
    width: 5em;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    height: 50%;
    transition: width 0.3s ease 0s;
}

.home-menu-headsets:hover {
    width: 10em;
}

.headsets-list ul,
li,
a {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    color: black;

}

.headsets-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Monitors */
.home-menu-monitors {
    padding: 28px;
    width: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    transition: width 0.3s ease 0s;
}

.home-menu-monitors:hover {
    width: 10em;
}

.monitors-list ul,
li,
a {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    color: black;

}

.monitors-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#monitors-explore {
    transition: all 0.3s ease 0s;
}

#monitors-explore:hover {
    transform: translateY(-5px);
}

/*  */
/* Effect on text in menu */
.home-menu-container a:hover {
    font-weight: 900;
}

/*  */
/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

/* Footer-top */
.footer-top {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.innovation-icon {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 40px;
}

.payment-icon {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    align-items: center;
    gap: 40px;
    margin: -10px;
}

.order-icon {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Contact-footer */
.contact-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 4px;
}

/* 1 */
.sub-container-one {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    padding-bottom: 4px;
}

.follow {
    display: flex;
    gap: 24px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.phone-num-info {
    display: flex;
    gap: 24px;
}

.email-info {
    display: flex;
    gap: 24px;
}

/* 2 */

.sub-container-two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 36px;
    font-size: 16px;
}

.input-box input {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid black;
    padding: 12px 40px;
    border-radius: 5px;
}

.input-box button {
    background-color: rgba(0, 0, 0, 1);
    padding: 12px 40px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.input-box button:hover {
    transform: translateY(-2px);
}

.policy {
    display: flex;
    gap: 16px;
}

.policy a {
    color: black;
    transition: transform 0.1s ease;
}

.policy a:hover {
    transform: translateY(-2px);
    text-decoration: none;
}